name: Create Report Workflow

on:
  push:
    branches:
      - main

jobs:
  my_first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Creating a report file
        run: echo "This is my first GitHub Actions workflow!" > report.txt

      - name: Uploading the report file
        uses: actions/upload-artifact@v4
        with:
          name: my-report
          path: report.txt
