name: My First Workflow

on:
  push:
    branches:
      - main

jobs:
  my_first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Create report file
        run: echo "This is my first GitHub Actions workflow!" > report.txt

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: my-report
          path: report.txt

  check_artifact:
    runs-on: self-hosted
    needs: my_first_job

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: my-report

      - name: Check artifact content
        run: cat report.txt

