name: MyFirstWorkflow

on:
  push:
    branches:
      - main

jobs:
  my_first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v6
        

      - name: list files
        run: ls -la GITHUB-ACTION