name: First GitHub Action

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  first-job:
    runs-on: ubuntu-latest

    steps:
      - name: Addition
        run: expr 2 + 3
        