name: MyFirstWorkflow

on:
  push:
    branches:
      - main

jobs:
  my_first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Clone Repo
        run: git clone https://github.com/mayurimohite1710-dev/GITHUB-ACTION.git

      - name: Check files in repo
        run: |
          cd GITHUB-ACTION
          ls -l .github/workflows/


        